h1 {
    justify-content: center;
    text-align: center;

}

.board1,
.board2 {
    display: grid;
    justify-content: center;
    text-align: center;
    grid-template-rows: repeat(10, 50px);
    grid-template-columns: repeat(10, 50px);
    gap: 0;
}

.cell {
    height: 50px;
    width: 50px;
    background-color: aquamarine;
}

.winner {
    justify-content: center;
    text-align: center;
    padding: 0.5rem;
    border-radius: 5%;
}